@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap);


@media(width < 1600px ) and (width > 600px){

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: url(/images/woodd.jpg);
    }

    header {
        font-family: Inter;
    }

    /* nav {
        background: linear-gradient(#868383, #edeaea);
        display: flex;
        justify-content: end;
        padding: 20px 20px;
    } */

    .logo img {
        position: absolute;
        top: 10px;
        left: 70px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        filter: opacity(95%);
    }

    .heading p {
        font-size: 20px;
        text-align: center;
        padding: 10px 70px;
        margin: 20px;
        font-family: Inter, Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 5px;
        border-radius: 25px;
    }

    nav a:hover {
        background: red;
        color: white
    }

    .heading h1 {
        display: flex;
        justify-content: center;
    }

    .main-heading-name {
        font-family:"Euphoria Script", cursive;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 140px;
    }

    .second-heading-name {

        font-family:Inter;
        font-size: 35px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;

    }

    .main img {
        width: 132.1em;
    }

    .footer {
        display: flex;
        background: #847f7f;
        padding-bottom: 25px;
    }

    .footer p {
        color: White;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;
        padding: 10px 50px;
    }

    .footer svg {
        margin: 10px 53px;
    }

    .footer .info {
        margin-top: 30px;
    }
    #contacts{
        color:#FFF;
        border-bottom: 1px solid white;
        text-align: center;
        font-size: 35px;
        padding-bottom: 10px;
    }

    .map {
        display: flex;
    }

    .location {
        width: 700px;
        height: 250px;
        align-self: flex-end;
    }

    .menu-header {
        display: flex;
        justify-content: center;
        background: url(/images/menuimage.jpg);
        background-size: cover;
        background-position-y: 88%;
        height: 250px;
    }

    .menu-header h1 {
        color: #FFF;
        font-family: Inter;
        font-size: 5em;
        font-weight: 600;
        align-self: center;
        padding-top: 160px;
    }

    .category {
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .category a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Inter, Georgia, 'Times New Roman', Times, serif;
        color: #000;
        padding: 10px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 13px;
    }

    .category a:hover {
        background: red;
        color: #FFF;

    }

    .main-menu-pages {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-category {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 15px;
        column-gap: 30px;
        font-family: Inter, Georgia, 'Times New Roman', Times, serif;
    }


    .menu-category-heading {
        font-size: 35px;
        padding: 10px 30px;
        border-bottom: 1px solid rgb(62, 57, 57);
        background: linear-gradient(#706e6e, #8AA1A9);

    }

    .menu-item {
        margin: 10px 25px;
    }
    .menu-item .name{
        font-size: 21px;
    }

    .menu-category .description {
        padding: 5px 0px;
    }

    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .menu-category .description,
    .alergens,
    .price {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
    }

    .price {
        font-weight: 800;

    }

    .main-alergens {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
        padding: 10px 25px;

    }

    .drinks {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;

    }

    .drinks h1 {
        font-size: 30px;
        margin: 10px 28px;
    }

    .drink-name,
    .drink-price {
        font-family: Inter, 'Arial', 'Times New Roman', Times, serif;
        font-size: 21px;
        font-weight: 600;
    }

    .drink-item {
        padding: 5px 30px;
    }

    .alcohol {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
        border-top: 3px solid black;
    }

    .alcohol h1 {
        font-size: 30px;
        margin: 10px 28px;
        border-bottom: 2px solid black;
    }

    .alcohol-name,
    .alcohol-price {
        font-family: Inter, 'Arial', 'Times New Roman', Times, serif;
        font-size: 21px;
        font-weight: 600;
    }

    .alcohol-item {
        padding: 5px 30px;
    }

}